.container {

}

.title {
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: 700;
}

.button-group {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.search {
    margin-bottom: 20px;
}

button {
    margin: 2px !important;
    font-size: 1.5rem !important
}
.icon-sort {
    display: flex;
}
